 .login-form{
    height: 100vh;
    background-image: url(../image/lone-tree.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .text-upr{
    text-transform: uppercase;
}
.password{
    text-align: end;
    text-decoration: none;
    color: rgb(110, 110, 110);
}
.bg-color{
    background-color: brown;
}
.sign-up{
    text-align: center;
    border: 0;
    color: black;
  
}